<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
            <span style="font-size: 12.16px; line-height: 1.3em;">
                ֆայլ No 1.  [readon url="http://www.realtime.am/media/downloads/thtcv-2012-IV.xls"]Ներբեռնել[/readon] 
            </span>
            <span style="font-size: 12.16px; line-height: 15.808px;">
                ֆայլ No 4. [readon url="http://www.realtime.am/media/downloads/thtcv-2013-III.xls"]Ներբեռնել[/readon]
            </span>
     
            ֆայլ No 2.  [readon url="http://www.realtime.am/media/downloads/thtcv-2013-I.xls"]Ներբեռնել[/readon]    
                 <span style="font-size: 12.16px; line-height: 15.808px;">ֆայլ No 5. 
                     [readon url="http://www.realtime.am/media/downloads/thtcv-2013-IV.xls"]Ներբեռնել[/readon]</span>
          ֆայլ No 3.  [readon url="http://www.realtime.am/media/downloads/thtcv-2013-II.xls"]Ներբեռնել[/readon] 
                <span style="white-space: pre;">
                </span>
                <span style="font-size: 12.16px; line-height: 15.808px;">
                    ֆայլ No 6.  [readon url="http://www.realtime.am/media/downloads/thtcv-2014-I.xls"]Ներբեռնել[/readon]
                </span>
          
     
    </body>
</html>
