@font-face {
    font-family: ArianAMU-font;
    src: url('arnamu/arnamu.eot');
    src:  url('arnamu/arnamu.eot?#iefix') format('embedded-opentype'),
        url("arnamu/arnamu.ttf") format("truetype"),
        url("arnamu/arnamu.woff") format("woff");


}

/* bold */
@font-face {
    font-family: ArianAMU-font-bold;
    src: url('arnamu/arnamub.eot');
    src:  url('arnamu/arnamub.eot?#iefix') format('embedded-opentype'),  
        url("arnamu/arnamub.ttf") format("truetype"),
        url("arnamu/arnamub.woff") format("woff");

    font-style: normal;
    font-weight: bold;
}
/*svg*/
/* italic */
@font-face {
    font-family: ArianAMU-font-italic;
    src: url('arnamu/arnamui.eot');
    src:   url('arnamu/arnamui.eot?#iefix') format('embedded-opentype'),  
        url("arnamu/arnamui.ttf") format("truetype"),
        url("arnamu/arnamui.woff") format("woff");


    font-style: italic;
}

/* bold and italic */
@font-face {
    font-family: ArianAMU-font-bold-italic;
    src: url('arnamu/arnamubi.eot');
    src:  url('arnamu/arnamubi.eot?#iefix') format('embedded-opentype'), 
        url("arnamu/arnamubi.ttf") format("truetype"),
        url("arnamu/arnamubi.woff") format("woff");


    font-weight: bold;
    font-style: italic;
}

/* CSS Document */
/*ArianAMU, "Arial AMU", sylfaen;* */
/* "Arian AMU","sylfaen"*/
*
{
    font-family: "Arian AMU","ArianAMU-font", "sylfaen"; 
    font-size: 15px;
}

/*.header { background:url(/img/header_bg_am.jpg) no-repeat top left; }*/

table {
    border-collapse: collapse;
}
.header{
    width:100%;
    height:100px;

}
#menu{
    width:1376px; 
    margin:0px auto;
    height:33px;
    position: relative;
    top:6px;
}
tbody tr
{

    position:relative;
}

body{
    font-family: "Arian AMU","ArianAMU-font", "sylfaen";
    font-size: 15px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #f1f1f1;
    padding: 0px;
    margin: 3px 0px;
}
#menu a
{
    text-decoration: none;
    border:1px solid black;
    border-radius:3px;
    border-color:#d1d1d1;
    background:#fff;
    padding:3px 20px;
    color:#01a0e2;
}
.view td{
    text-align: center;
}
.logo
{
    background:transparent url(../img/realtime.png) no-repeat ;
    background-size:290px;
    width:320px;
    height:60px;
    position:absolute;
    top:4px;
    right: -30px;
}
.logout
{
    width:60px;
    height: 50px;
    position:absolute;
    top:-1px;
    right: 0px; 
}
.mypage
{
    width:1400px;
    margin: 0px auto;
    background: #fff;
}
#menu a.active:hover {
    color:#fff;
    background:#000;
    font-weight:bold;
}
.clearfix
{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width:360px;
}
.clearfixs
{
    margin: 0px 0px 0px 60px;
    padding: 0px;
    display: inline-block;
    width:150px;
}
.clearfixs li
{
    display: table-cell;
    margin: 20px;
}

.clearfix li
{
    display: table-cell;
}
.Reg
{
    margin: 0px auto;
    width:300px;
    height: 300px;
}
.signup
{
    border:1px solid #2ECCFA;
    width:300px;
    padding: 20px;
    margin: 0px auto;

}
.signup input
{
    width:300px;
    height: 30px;
    border:1px solid #2ECCFA;
}
.signup label
{
    margin-top: 10px;
    display: block;
    font-family: myFirstFont;
}
.registration
{

    border:1px solid #2ECCFA;
    width:300px;
    padding: 20px;
    margin: 0px auto;
}
.registration label
{
    margin-top: 10px;
    display: block;
    font-family: myFirstFont;
}
.registration input
{
    width:300px;
    height: 30px;
    border:1px solid #2ECCFA;
}
#signup{
    border: none;
    position: absolute;
    right: 4px;
    border-radius: 5px;
    z-index: 9999;
    bottom: 2px;
    color: #fff;
    background: #009c44;
    width:100px;
    height:20px;
}
.add_prod_ware{
    border: none;
    position: absolute;
    right: 4px;
    border-radius: 5px;
    z-index: 9999;
    bottom: 2px;
    color: #fff;
    background: #009c44;
    width:100px;
    height:20px;
}
select {
    border: 1px solid #ccc;
    background: transparent;
    //-webkit-appearance: none;
}
p.ex{
    width:150px;
    word-wrap: break-word;
    margin:0px;
}
p.exs{
    width:150px;
    min-height: 100px;
    word-wrap: break-word;
}
.end_problems{
    width: 80px;
    background: #009c44;
    border-radius: 2px;
    border: none;
    margin-top: 1px;
    color:#fff;
}
.edit_problem{
    width: 80px;
    background: #009c44;
    border-radius: 2px;
    border: none;
    margin-top: 1px;
    color:#fff;
}
.edit_input
{
    position: relative;
    left: -50%;
    top: -50%;
    width: 560px;
    background: #fff;
}
.edit_input textarea
{
    border:1px solid #2ECCFA;
    height:60px;
    width:500px;
}
.edit_prov{
    position: fixed; 
    left: 50%;top:30%;
}
.logout a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    border-color: #d1d1d1;
    background: #fff;
    padding: 3px 15px;
    color: #01a0e2;
    position: absolute;
    top:5px;
}
.container{
    margin:0px 5px ;
}
․prod_spaces{
    width:150px;
}
.clear{
    clear:both;
}
.StyleClientResult tr{
    border-bottom: 1px solid #01a0e2;
}
.adding{
    border: none;position: absolute;right: 4px;border-radius: 5px; z-index: 9999; bottom: 2px;color: #fff;background: #009c44;width:100px;
}
.sms{
    width:70px;
    border:none;
    position: absolute;
    top:-4px;
    cursor: pointer;
    text-decoration: none;

}
#sms{
    border:none;
    cursor: pointer;
    background: none;
    outline: none;
    position: fixed;
}
.top_menu{
    background:#f1f1f1;
    position: fixed;
    display: none;
    top:0px;
    padding: 0px;
    z-index: 1;
    margin-top: -15px;
    width: 1500px;
}
.top_menu ul{
    padding: 15px 5px;
    margin-top:5px;
    position: relative;
    width:1376px;
    z-index: 9999;
}
.home{
  
}
.top_menu ul li {
    color:#fff;
    float: left;
  
    list-style: none;
}
.top_menu ul li a{
    color: rgb(255, 255, 255);
    background: rgb(1, 160, 226);
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    border-color: #d1d1d1;
    background: #fff;
    padding: 3px 20px;
    color: #01a0e2;
}
.top_menu ul li a:hover{
    background:#01a0e2;
    color: #fff;
}
.edit_provier{
    width:100px;
    
}
.delete_provider{
    width:100px;
}
.table_list { 

}
.table_list div{
    float: left;
    color: #fff;
    background: #01a0e2;
    margin:0px 0px 1px 0px;
}