input[type=date] {
	background: #ccc;
	background: linear-gradient(90deg, #ddd, #ccc);
	border: 3px solid #eee;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	color: #222;
	font: 16px Helvetica,Arial,sans-serif;
	
	outline: 0;
	padding: 5px 10px;
        width: 200px;
}
input[type=date]::-webkit-calendar-picker-indicator {
	color: #999;
	height: 8px;
	position: relative;
	width: 8px;
	z-index: 0;
        cursor:pointer;
}
input[type=date]::-webkit-calendar-picker-indicator:before {
	background: #eee;
	background: linear-gradient(90deg, #eee, #fff);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-radius: 24px;
	content: '';
	display: block;
	height: 22px;
	left: -2px;
	position: absolute;
	top: -5px;
	width: 22px;
	z-index: -1;
        cursor:pointer;
}
input[type=date]::-webkit-calendar-picker-indicator:hover {
	background: none;
        cursor:pointer;
}
input[type=date]:focus {
	border-color: #3399ff;
        cursor:pointer;
}
.logins{
    width:195px;
    float:left;

    color:black;
    font-weight:bold;
}
.logins_estate{
    width:125px;
    float:left;
    font-size:15px;
    color:black;
    font-weight:bold;
}
.selects{
    background: #ccc;
	background: linear-gradient(90deg, #ddd, #ccc);
	border: 3px solid #eee;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	color: #222;
	font: 16px Helvetica,Arial,sans-serif;
	
	outline: 0;
	padding: 5px 10px;
        width: 160px;
}
#team_login{
    background: #ccc;
	background: linear-gradient(90deg, #ddd, #ccc);
	border: 3px solid #eee;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	color: #222;
	font: 16px Helvetica,Arial,sans-serif;
	
	outline: 0;
	padding: 5px 10px;
        width: 160px;
}
.count{
    background: #ccc;
    background: linear-gradient(90deg, #ddd, #ccc);
    border: 3px solid #eee;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    color: #222;
    font: 16px Helvetica,Arial,sans-serif;

    outline: 0;
    padding: 5px 10px;
    width: 100px;
}
.tools_ware{
    font-weight: bold;
    font-size:14px;
    width:100px;
    
}
